#设置数据文件的存放目录
dbpath = /workspace/mongo/MongoTest/MongoTest/instance/data1/db
#设置数据文件的存放目录
logpath = /workspace/mongo/MongoTest/MongoTest/instance/data1/log/mongod.log
#设置端口号
port = 27020
#本机访问
bind_ip = 127.0.0.1
#绑定IP,使其可以外网访问
#bind_ip = 0.0.0.0
#开启认证
#security:
#    authorization : enabled
#keyFile
#keyFile = E:\mongodb\keyFile.file
#权限启用险证
#auth true
#集群名称
replSet = rs0
#分片集群必须要有的属性
shardsvr = true